# Nolan Kiel
## Week 5: 2/17/2022
### Python Loops - for

**General for loops format:**

<code> for item in object:
    statements to do work

In [1]:
sc = [68,86,48,75,72,85,62,61,82,79]
sc

[68, 86, 48, 75, 72, 85, 62, 61, 82, 79]

In [2]:
for n in sc:
    print(n)

68
86
48
75
72
85
62
61
82
79

In [3]:
for n in sc:
    if n % 2 ==0:
        print(n)
    else:
        print("Odd")

68
86
48
Odd
72
Odd
62
Odd
82
Odd

In [5]:
# get the sum of all the scores
sum=0
for n in sc:
    sum = sum + n
    print(sum)

68
154
202
277
349
434
496
557
639
718

In [7]:
# get the sum of all the scores
sum=0
for n in sc:
    sum = sum + n
print(sum)

718

In [10]:
sum / len(sc)

71.8

In [11]:
for letter in 'I am a student in CIS310':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0

In [12]:
t = (5,7,9,10,14)

for n in t:
    print(n)

5
7
9
10
14

In [13]:
ls1 = [(10,20),(20,40),(50,60),(70,80),(90,100)]
ls1

[(10, 20), (20, 40), (50, 60), (70, 80), (90, 100)]

In [14]:
for t in ls1:
    print(t)

(10, 20)
(20, 40)
(50, 60)
(70, 80)
(90, 100)

In [15]:
for n in ls1:
    print(n)

(10, 20)
(20, 40)
(50, 60)
(70, 80)
(90, 100)

In [16]:
for t in ls1:
    print(t[0])

10
20
50
70
90

In [17]:
for (t1, t2) in ls1:
    print(t1)

10
20
50
70
90

In [18]:
d = {"brand": "ford", "model": "Mustang","year": 1964}

In [19]:
d

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

In [21]:
items = d.items()

In [22]:
items

dict_items([('brand', 'ford'), ('model', 'Mustang'), ('year', 1964)])

In [23]:
tuple(items)

(('brand', 'ford'), ('model', 'Mustang'), ('year', 1964))

In [24]:
list(items)

[('brand', 'ford'), ('model', 'Mustang'), ('year', 1964)]

In [25]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [28]:
d.values()

dict_values(['ford', 'Mustang', 1964])

In [29]:
for item in d:
    print(item)

brand
model
year

In [30]:
d

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

In [33]:
for k,v in d.items():
    print(k,v)

brand ford
model Mustang
year 1964

In [34]:
d.values()

dict_values(['ford', 'Mustang', 1964])

In [36]:
for v in d.values():
    print(v)

ford
Mustang
1964

In [37]:
for k in d.values():
    print(k)

ford
Mustang
1964

In [38]:
d1 = {"k1":5,"k2":8,"k3":3}

In [39]:
sorted([9,4,6,2,8,5,1])

[1, 2, 4, 5, 6, 8, 9]

In [40]:
d1.values()

dict_values([5, 8, 3])

In [45]:
for v in sorted (d1.values()):
    print(v)

3
5
8

In [47]:
# Break and continue
fruits = ['apple','grape','orange','banana','cherry']

for f in fruits:
    if f == 'banana':
        break
    print(f)

apple
grape
orange

In [48]:
for f in fruits:
    if f == 'banana':
        continue
    print(f)

apple
grape
orange
cherry