# Nolan Kiel
## Week 4: 2/10/2022
### Python Built-in Structures - Dictionaries {}

In [1]:
dict1 = {'key1':'value1','key2':'value2','key3':'value3'}

In [2]:
type(dict1)

dict

In [3]:
car_dict = {'Brand':"Toyota",'model':'Prius','year':2022,'doors':2}
car_dict

{'Brand': 'Toyota', 'model': 'Prius', 'year': 2022, 'doors': 2}

In [4]:
car_dict['model']

'Prius'

In [5]:
car_dict['doors']

2

In [6]:
car_dict['Brand']

'Toyota'

In [7]:
car_dict.keys()

dict_keys(['Brand', 'model', 'year', 'doors'])

In [8]:
car_dict.values()

dict_values(['Toyota', 'Prius', 2022, 2])

In [9]:
car_dict.items()

dict_items([('Brand', 'Toyota'), ('model', 'Prius'), ('year', 2022), ('doors', 2)])

In [10]:
cis_dict = {'no':5,'cis':[200,240,340,350,360],'crn':{'001','003','006','009'}

SyntaxError: unexpected EOF while parsing (<ipython-input-10-1ba680ed8d7e>, line 1)

In [ ]:
cis_dict['cis']

In [ ]:
cis_dict.values()

In [ ]:
cis_dict.keys()

In [ ]:
cis_dict.items()

In [ ]:
cis_dict['no']

In [ ]:
cis_dict['crn']

In [ ]:
cis_dict

In [ ]:
cis_dict['cis'][-1]

In [ ]:
cis_dict['ins'] = ['Ramadan','Nick','Jon','Leo']

In [ ]:
cis_dict

In [ ]:
cis_dict['ins'][-2]

In [ ]:
cis_dict['ins']

In [ ]:
cis_dict['ins'][-1]

In [ ]:
cis_dict['ins'][-1].upper()

In [ ]:
cis_dict['no'] = 6

In [ ]:
cis_dict

In [ ]:
cis_dict['no'] = cis_dict['no'] - 1

In [ ]:
cis_dict

In [ ]:
cis_dict['College'] = 'COB'

In [ ]:
cis_dict

In [ ]:
d1 = {}

In [ ]:
type(d1)

In [ ]:
d1['fruit'] = 'apple'

In [ ]:
d1

In [ ]:
d1['number'] = 1

In [ ]:
d1

In [ ]:
d1['taste'] = ('sour','sweet','salty','bitter')

In [ ]:
d1

In [ ]:
w = ('sour','sweet','salty','bitter')
d1['tatste']=w

In [ ]:
w

In [ ]:
w = ('hello','where','who')

In [ ]:
w

In [ ]:
d1['words']=w

In [ ]:
d1

In [ ]:
# Nested Dictionaries
d2 = {'k1':{'k2':{'k3':'value1'}},'k4':55}

In [ ]:
d2['k4']

In [ ]:
d2['k1']

In [ ]:
d2['k1']['k2']

In [ ]:
d2['k1']['k2']['k3']

In [12]:
#nested dictionary example
myFamily = {
    'child1': {'name':'Jen','DoB':'01/01/2000'},
    'child2': {'name':'Alice','DoB':'06/01/2004'},
    'child3': {'name':'Bob','DoB':'10/16/2008'},
    'spouse': {'name':'Jon','DoB':'12/20/1978','MD':'08/08/1998'}
}

In [13]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [14]:
myFamily['child1']['name']

'Jen'

In [15]:
myFamily['child3']['DoB']

'10/16/2008'

In [16]:
myFamily['spouse']['MD']

'08/08/1998'

In [17]:
myFamily['child2'].keys()

dict_keys(['name', 'DoB'])

In [18]:
myFamily.keys()

dict_keys(['child1', 'child2', 'child3', 'spouse'])

In [19]:
myFamily['spouse'].values()

dict_values(['Jon', '12/20/1978', '08/08/1998'])

In [20]:
myFamily['spouse'].keys()

dict_keys(['name', 'DoB', 'MD'])

In [21]:
myFamily['spouse'].items()

dict_items([('name', 'Jon'), ('DoB', '12/20/1978'), ('MD', '08/08/1998')])

In [22]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [23]:
myFamily['child1']['DoB'] = '06/29/2001'

In [24]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '06/29/2001'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [25]:
myFamily['child1']['name'] = 'Nolan'

In [26]:
myFamily

{'child1': {'name': 'Nolan', 'DoB': '06/29/2001'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [27]:
myFamily['spouse']['city'] = 'fort Collins'

In [28]:
myFamily

{'child1': {'name': 'Nolan', 'DoB': '06/29/2001'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon',
  'DoB': '12/20/1978',
  'MD': '08/08/1998',
  'city': 'fort Collins'}}

In [30]:
myFamily.get('child3')

{'name': 'Bob', 'DoB': '10/16/2008'}

In [31]:
len(myFamily)

4

In [32]:
len(myFamily['spouse'])

4

In [33]:
myFamily['spouse']

{'name': 'Jon',
 'DoB': '12/20/1978',
 'MD': '08/08/1998',
 'city': 'fort Collins'}

In [34]:
car_dict

{'Brand': 'Toyota', 'model': 'Prius', 'year': 2022, 'doors': 2}

In [35]:
car_dict['year']

2022

In [38]:
car_dict.get('brand')

In [40]:
car_dict.get('brand','does not exist?')

'does not exist?'

In [41]:
len(car_dict)

4

In [42]:
# remove element
car_dict

{'Brand': 'Toyota', 'model': 'Prius', 'year': 2022, 'doors': 2}

In [47]:
car_dict.pop('Brand')

'Toyota'

In [48]:
car_dict.popitem()

('doors', 2)

In [50]:
car_dict.clear()

In [51]:
car_dict

{}

In [52]:
car_dict = {'brand':'ford','model':'mustang','year':'2001'}

In [55]:
cars = car_dict

In [56]:
cars

{'brand': 'ford', 'model': 'mustang', 'year': '2001'}

In [57]:
# casting between python collections
t = (1,2,3,4)

In [58]:
type(t)

tuple

In [59]:
l = list(t)
l

[1, 2, 3, 4]

In [63]:
t = tuple(t)
t

(1, 2, 3, 4)

In [67]:
s = {1,2,3,4,5,'a','e','c',True, False}

In [68]:
type(s)

set

In [70]:
l = list(s)
l

[False, 1, 2, 3, 4, 5, 'c', 'e', 'a']

In [71]:
l = [1,2,3,4,5,6,'a','a','c',1,2,3]
s = set(l)

In [72]:
s

{1, 2, 3, 4, 5, 6, 'a', 'c'}

In [73]:
d = dict(s)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [74]:
d = dict(l)

TypeError: cannot convert dictionary update sequence element #0 to a sequence